# -----[ Application ]---------------------------------------------
node_modules
# The actual build files
build

# -----[ Metadata ]---------------------------------------------
# macOS
.DS_Store
# JetBrains (IDE)
.idea
# VS Code (IDE)
.vscode
npm-debug.log
